.rec.rec-arrow {
    color: teal;
}
.rec.rec-arrow:hover {
    background-color: teal;
    color: white;
}
.rec.rec-arrow {
    display: none;
    /* visibility: hidden; */
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}

/* .rec-pagination{
    visibility: hidden;
} */
/* .rec.rec-dot{
    border: 1px solid teal;
} */
.rec.rec-dot_active{
    background-color: teal;
}